<h1>Editing Activity</h1>

<%= render 'form' %>

<%= link_to 'Show', @activity, :class => "mdl-button mdl-js-button mdl-button--accent" %> |
<%= link_to 'Back', activities_path, :class => "mdl-button mdl-js-button mdl-button--accent" %>
